*, *::before, ::after{
    box-sizing: border-box;
}

:root{
    --main-white: #FAF8F6;
    --main-blue: #172339;
    --body-width: 86vw;
}

body{
    background-color: var(--main-white);
    width: 100%;
    margin: auto;
}

.block{
    display: block;
}

.light{
    font-weight: 100;
    letter-spacing: -2px;
}

    /*Header*/
.header{
    height: 56px;
    width: var(--body-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.header-img{
    width: 78px;
    height: 26px;
}

.btn1{
    background-color: var(--main-white);
    height: calc(var(--header-height)-2px);
    width: 219px;
    border-radius: 6px;
    border: 1px solid var(--main-blue);
    font-size: 1rem;
    color: var(--main-blue);
}

.btn1:hover{
    background-color: var(--main-blue);
    color: var(--main-white);
    cursor: pointer;
}

      /*Content*/
.main{
    width: var(--body-width);
    margin: auto;
}
.main-container{
    width: var(--body-width);
    height: 600px;
    margin: auto;
    background-color: var(--main-white);
    z-index: 0;
    position: relative;
}
.whip{
    width: 300px;
    height: 40px;
    position: absolute;
    z-index: 2;
    left: 325px;
    top: 60px;
}
.text{
    position: absolute;
    width: 660px;
    height: 405px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--main-blue);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    left: 0;
    top: 100px;
}
.text > h1{
    font-size: 4.4rem;
    margin-bottom: auto;
    margin-top: 0;
}
.text > p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.1rem;
    font-weight: 100;
    margin-bottom: 70px;
    color: rgb(23, 35, 57, 0.6);
}
.btn2{
    width: 256px;
    height: 61px;
    margin-top: auto;
    background-color: var(--main-blue);
    font-family: sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: var(--main-white);
    border-radius: 6px;
}
.btn2:hover{
    color: var(--main-white);
    background: linear-gradient(
        130deg,
        #A060FF,
        #CB30E3,
        #FFA84E
    );
    border: none;
    cursor: pointer;
}
.phone-img-portrait{
    position: absolute;
    width: 350px;
    height: 600px;
    left: 47%;
    z-index: 1;
}
.phone-img-landscape{
    position: absolute;
    width: 0;
    z-index: -1;
}
.numbers{
    position: absolute;
    right: 0;
    width: 190px;
    height: 375px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: sans-serif;
    font-size: 1.7rem;
    margin: auto;
    top: 100px;
    z-index: 2;
    color: var(--main-blue);
}
.stats > h1{
    margin-bottom: -1.5rem;
}

    /*Testimony*/
.testimony{
    width: var(--body-width);
    height: 600px;
    border: 1px solid #172339;
    margin: auto;
    margin-top: 150px;
}

    /*Scrollbar*/
::-webkit-scrollbar {
    width: 10px;
  }
::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
::-webkit-scrollbar-thumb {
    background: linear-gradient(
    #A060FF 0%,
    #CB30E3 60%,
    #FFA84E 90%
    ); 
    border-radius: 5px;
  }
::-webkit-scrollbar-thumb:hover {
    background: #A060FF; 
  }

      /*Media queries*/ 
/*tablet*/
@media (max-width: 1024px) and (min-width: 413px){
    /*header*/
    .header{
        width: var(--body-width);
        margin-top: 25px;
    }
    .btn1{
        height: 42px;
        width: 156px;
        font-size: 0.8rem;  
    }
    .header-img{
        width: 81;
        height: 32;
    }
    /*content*/
    .main-container{
        height: 482px;
        width: var(--body-width);
        margin: auto;
    }
    .phone-img-portrait{
        width: 281px;
        height: 482px;
        right: 0 !important;
        left: auto;
        top: 0;
    }
    .phone-img-landscape{
        right: 0;
        left: auto;
        top: 0;
    }
    .text{
        height: 340px;
        width: var(--body-width);
        top: 80px;
    }
    .text > h1{
        font-size: 3.5rem;
    }
    .text > p{
        font-size: 0.875rem;
        margin-bottom: auto;
    }
    .whip{
        width: 231px;
        height: 21px;
        left: 260px;
        top: 50px;
    }
    .numbers{
        flex-direction: row;
        top: 470px;
        position: relative;
        width: var(--body-width);
        text-align: center;
        margin: auto;
    }
}

/*mobile*/
@media (max-width: 572px) and (min-width: 279px){
    /*Header*/
    .header{
        height: 48px;
    }
    .btn1{
        height: 42px;
        width: 156px;
        font-size: 0.8rem;  
    }
    .header-img{
        width: 81;
        height: 32;
    }
    /*Content*/
    .main-container{
        height: 898px;
        width: var(--body-width);
        margin: auto;
    }
    .phone-img-portrait{
        position: absolute;
        width: 0;
        z-index: -1;
    }
    .phone-img-landscape{
        position: relative;
        width: var(--body-width);
        height: 240px;
        left: 0;
        z-index: 1;
        top: 0;
    }
    .text{
        height: 290px;
        width: var(--body-width);
        top: 30px;
        position: relative;
    }
    .text > h1{
        font-size: 2rem;
    }
    .text > p{
        font-size: 0.875rem;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .whip{
        width: 151px;
        height: 19px;
        left: 140px;
        top: 15px;
    }
    .numbers{
        width: var(--body-width);
        height: 313px;
        position: relative;
        font-size: 1.6rem;
        top: 0;
        text-align: center;
    }
    .text, .numbers, .phone-img-landscape{
        display: block;
    }
}

/*foldable*/
@media (max-width: 280px) and (min-width: 200px){
    /*Header*/
    .header{
        height: 46px;
    }
    .btn1{
        height: 40px;
        width: 140px;
        font-size: 0.7rem;  
    }
    .header-img{
        width: 80;
        height: 30;
    }
    /*Content*/
    .main-container{
        height: 898px;
        width: var(--body-width);
        margin: auto;
    }
    .phone-img-portrait{
        position: absolute;
        width: 0;
        z-index: -1;
    }
    .phone-img-landscape{
        position: relative;
        width: var(--body-width);
        height: 178px;
        left: 0;
        z-index: 1;
        top: 0;
        margin-top: 80px;
    }
    .text{
        height: 290px;
        width: var(--body-width);
        top: 20px;
        position: relative;
    }
    .btn2{
        width: var(--body-width);
    }
    .text > h1{
        font-size: 2.1rem;
    }
    .text > p{
        font-size: 0.875rem;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .whip{
        width: 0;
        height: 0;
    }
    .numbers{
        width: var(--body-width);
        height: 313px;
        position: relative;
        font-size: 1.6rem;
        top: 0;
        text-align: center;
    }
    .text, .numbers, .phone-img-landscape{
        display: block;
    }
}